
* 
{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.cf:before, .cf:after
{content: " ";display: block; }
.cf
{ *zoom: 1; }
.cf:after
{clear: both;}
.lft
{float: left;}
.rit
{float: right;}
button, button:focus
{outline: none;}

.fx
{display: -webkit-flex;display: -ms-flexbox;display: flex;flex: 1;}
.fxwp
{flex-wrap: wrap;}

.fxdc
{-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
.fxdr
{-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;}

.fxjcc
{-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
.fxjcfs
{-webkit-justify-content: flex-start;-ms-flex-pack: flex-start;justify-content: flex-start;}
.fxjcfe
{  justify-content: flex-end;}
.fxjcsb
{  justify-content: space-between;}
.fxjcsa
{  justify-content: space-around;}
.fxjcse
{  justify-content: space-evenly;}

.fxaic
{-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.fxaifs
{-webkit-align-items: flex-start;-ms-flex-align: flex-start;align-items: flex-start;}
.fxaife
{-webkit-align-items: flex-end;-ms-flex-align: flex-end;align-items: flex-end;}

.w100
{width:100%;}
.w50
{width:50%;}
.h100
{height:100%;}
.img100
{width:100%;}
.anatimg
{max-width: 1052px;}
h1, h2, h3, h4, p
{margin: 0;font-size: 1em;}
h1
{font-size: 1.1em;}
h2
{font-size: 1.05em;}
h3
{font-size: 1.0em;}
p
{font-size: 1em;}

a:visited, a:active, a:link, a:hover
{text-decoration:none;padding:0;margin:0;outline:0;border:none;color:inherit;
  text-transform:inherit;line-height:inherit;font-size: inherit;}
.pgbg h5 a:visited, .pgbg h5 a:active, .pgbg h5 a:link, .pgbg h5 a:hover
{color: #0056b3;}
.pgbg h5 a:hover
{color: #007bff;}

.homelft 
{background-color: #eaeaea;min-height: 100vh;color: #4b4b4b;font-size: calc(10px + 2vmin);padding: 15px;}
.homerit 
{background-color: #3c3c3c;min-height: 100vh;color: #61dafb;font-size: calc(10px + 2vmin);padding: 15px;}
.tac
{text-align: center;}
.bio
{}
.bioimg
{background-color: #76b900;border-radius: 50%;width: 340px;padding: 10px;font-size: 0;line-height: 0;}
.bioimg img
{border-radius: 50%;width: 100%;}
.skills
{}
.skills p 
{font-size: 0.65em;white-space: pre-line;padding: 5px 0;}
.home .skills
{padding-left: 15px;}
.nav
{list-style:none}
.nav li
{display:inline;padding:0 10px}
.nav li a
{font-weight:700;font-size:18px;text-decoration:none}
.nav li a:hover
{text-decoration:underline}
.nav li a.active
{text-decoration:none;border-bottom:2px solid #fff}
.notfound
{background-color:#4682b4;background-color:#708090;background-color:brown;background-color:#2e8b57;background-color:#3c3c3c;
  min-height:100vh;color:#fff;font-size:15px;padding:15px}
.notfound h1
{font-size:8.5em;text-decoration:underline}
.notfound h2
{font-size:3em}
.notfound h3,.notfound h4
{font-size:2em}
.notfound h4 a
{text-decoration:underline}

@media screen and (max-width:800px){
  .home
  {-webkit-flex-direction:column;flex-direction:column}
  .home>.w50
  {width:100%;height:50%}
  .home>.w50>.homelft,.home>.w50>.homerit
  {min-height:auto;padding:30px 15px}
  .bioimg
  {max-width:240px}
}



@keyframes App-logo-spin {
  from 
  {transform: rotate(0deg);}
  to 
  {transform: rotate(360deg);}
}



/* 
<br />
min-height: 100vh;
font-size: calc(10px + 2vmin);
color: #61dafb;
background-color: #282c34;
background-color: #1e1e1e;
background-color: #252525;
background-color: #1C1C1C;
background-color: #f8f8f8;
background-color: #f7f7f7;
background-color: #f2f2f2;
background-color: #f8f8f8;
background-color: #3c3c3c;
background-color: #ecf0f1;

background-color: #76b900;
background-color: #eaeaea;
background-color: #4b4b4b;



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}

<a className="App-link" href="https://reactjs.org" target="_blank" rel="noopener noreferrer">Learn React</a>
<img src={logo} className="App-logo" alt="logo" />


*/







