
* 
{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
/* body
{color: #4b4b4b;} */
.cf:before, .cf:after
{content: " ";display: block; }
.cf
{ *zoom: 1; }
.cf:after
{clear: both;}
.lft
{float: left;}
.rit
{float: right;}
button, button:focus
{outline: none;}

.fx
{display: -webkit-flex;display: -ms-flexbox;display: flex;flex: 1;}
.fxwp
{flex-wrap: wrap;}

.fxdc
{-webkit-flex-direction: column;-ms-flex-direction: column;flex-direction: column;}
.fxdr
{-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;}

.fxjcc
{-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;}
.fxjcfs
{-webkit-justify-content: flex-start;-ms-flex-pack: flex-start;justify-content: flex-start;}
.fxjcfe
{  justify-content: flex-end;}
.fxjcsb
{  justify-content: space-between;}
.fxjcsa
{  justify-content: space-around;}
.fxjcse
{  justify-content: space-evenly;}

.fxaic
{-webkit-align-items: center;-ms-flex-align: center;align-items: center;}
.fxaifs
{-webkit-align-items: flex-start;-ms-flex-align: flex-start;align-items: flex-start;}
.fxaife
{-webkit-align-items: flex-end;-ms-flex-align: flex-end;align-items: flex-end;}

.w100
{width:100%;}
.w50
{width:50%;}
.h100
{height:100%;}
.img100
{width:100%;}
.anatimg
{max-width: 1052px;}
h1, h2, h3, h4, p
{margin: 0;font-size: 1em;}
h1
{font-size: 1.1em;}
h2
{font-size: 1.05em;}
h3
{font-size: 1.0em;}
p
{font-size: 1em;}

a:visited, a:active, a:link, a:hover
{text-decoration:none;padding:0;margin:0;outline:0;border:none;color:inherit;
  text-transform:inherit;line-height:inherit;font-size: inherit;}
.pgbg h5 a:visited, .pgbg h5 a:active, .pgbg h5 a:link, .pgbg h5 a:hover
{color: #0056b3;}
.pgbg h5 a:hover
{color: #007bff;}

.homelft 
{background-color: #eaeaea;min-height: 100vh;color: #4b4b4b;font-size: calc(10px + 2vmin);padding: 15px;}
.homerit 
{background-color: #3c3c3c;min-height: 100vh;color: #61dafb;font-size: calc(10px + 2vmin);padding: 15px;}
.tac
{text-align: center;}
.bio
{}
.bioimg
{background-color: #76b900;background-color:#37a000;background-color: #2e8b57;
  border-radius: 50%;width: 340px;padding: 10px;font-size: 0;line-height: 0;}
.bioimg img
{border-radius: 50%;width: 100%;}
.skills
{}
.skills p 
{font-size: 0.65em;white-space: pre-line;padding: 5px 0;}
.home .skills
{padding-left: 15px;}

.nav
{list-style:none}
.nav li
{display:inline;padding:0 10px}
.nav li a
{font-weight:700;font-size:18px;text-decoration:none}
.nav li a:hover
{text-decoration:underline}
.nav li a.active
{text-decoration:none;border-bottom:2px solid #fff}

.ContactBtn
{position: absolute;bottom: 2%;border-radius: 16px;}
.ContactBtn button
{border-radius: 16px;outline: none;padding: 5px 12px;margin: 0;border: 0;text-decoration: none;
  line-height: 18px;font-size: 18px;text-decoration: none;font-weight: 700;z-index: 9;
  background-color: #eaeaea;box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);color: #333;border: 1px solid #DDD;
  /* transition: all 5000ms linear 5000ms; */
  /* transition: all 0.2s linear; */
  transition: all 0.3s ease-in-out;
}
.ContactBtn button:hover
{background-color:#4682b4;background-color: #2e8b57;color:#fff;}
.navigation
{background-color:silver;margin: auto;text-align: center;position: absolute;top: 2%;border-radius: 16px;
  background-color: #eaeaea;box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
  border: 1px solid #DDD;
}
.conForm
{display:block;width:100%;max-width:600px;}
.conForm input, .conForm textarea
{display: block;font-size: 13px;line-height: 18px;color: #808080;width: 100%;padding: 10px 0 10px 16px;margin-bottom: 16px;
    border: 1px solid #CCC;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    box-sizing: border-box;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.conForm textarea 
{height: 160px;resize: none;overflow-y: hidden;}
.conForm input:hover, .conForm textarea:hover {
    border: 1px solid #2e8b57;
}
.conForm input:focus, .conForm textarea:focus {
    outline: 0;
    border-color: rgba(146, 139, 87, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.0), 0 0 8px rgba(146, 139, 87, 0.25);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.0), 0 0 8px rgba(146, 139, 87, 0.25);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.0), 0 0 8px rgba(146, 139, 87, 0.25);
}
.conForm > input:last-child, .conForm > input:last-child:hover, .conForm > input:last-child:focus
{margin-top: 16px;background-color: #2e8b57;color: #FFF;font-weight: 700;box-shadow: none;border: none;cursor: pointer;}
.conForm > input:last-child:hover
{background-color:#4682b4;}
.subqsn 
{width: 100%;}
.qsndv 
{width: 80%;float: left;font-size: 13px;text-align: left;padding-left: 16px;}
.rbotdv 
{width: 20%;float: right;}
.rbotdv input
{margin: 0;}

.navigation .nav
{margin: 0;padding: 0;}
.navigation .nav li 
{display: inline-block;padding: 0;}
.navigation .nav li a 
{font-weight: 700;font-size: 18px;text-decoration: none;padding: 6px 10px;color: #222;
  display: inline-block;line-height: 18px;border-radius: 16px;padding: 5px 10px 6px 10px;}
.navigation .nav li a:hover
{text-decoration: none;background-color:#4682b4;background-color: #2e8b57;color:#fff;}
.navigation .nav li a.active
{text-decoration:none;border-bottom: none;background-color:#76b900;background-color:#37a000;background-color: #2e8b57;color:#fff;}

.notfound
{background-color:#4682b4;background-color:#708090;background-color:brown;background-color:#2e8b57;background-color:#3c3c3c;
  min-height:100vh;color:#fff;font-size:15px;padding:15px}
.notfound h1
{font-size:8.5em;text-decoration:underline}
.notfound h2
{font-size:3em}
.notfound h3,.notfound h4
{font-size:2em}
.notfound h4 a
{text-decoration:underline}

@media screen and (max-width:800px){
  .home
  {-webkit-flex-direction:column;flex-direction:column}
  .home>.w50
  {width:100%;height:50%}
  .home>.w50>.homelft,.home>.w50>.homerit
  {min-height:auto;padding:30px 15px}
  .bioimg
  {max-width:240px}
}



@keyframes App-logo-spin {
  from 
  {transform: rotate(0deg);}
  to 
  {transform: rotate(360deg);}
}



/* 

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

	background: #eaeaea;
	background: -moz-linear-gradient(left, #3c3c3c 0%, #3c3c3c 50%, #eaeaea 50%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3c3c3c), color-stop(50%,#3c3c3c), color-stop(50%,#eaeaea), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(left, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: -o-linear-gradient(left, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: -ms-linear-gradient(left, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: linear-gradient(to right, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='3c3c3c', endColorstr='#eaeaea',GradientType=1 );

.btnav {
	background: rgb(242,242,242);
	background: -moz-linear-gradient(left, #3c3c3c 0%, #3c3c3c 50%, #eaeaea 50%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3c3c3c), color-stop(50%,#3c3c3c), color-stop(50%,#eaeaea), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(left, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: -o-linear-gradient(left, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: -ms-linear-gradient(left, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: linear-gradient(to right, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#333333',GradientType=1 );
}

.grdntdv {
	width: 15%;
	height: 100%;
	display: ;
	position: absolute;
	left: 18%;
	background: rgb(242,242,242);
	background: -moz-linear-gradient(-45deg, #3c3c3c 0%, #3c3c3c 50%, #eaeaea 50%, #eaeaea 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3c3c3c), color-stop(50%,#3c3c3c), color-stop(50%,#eaeaea), color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(-45deg, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: -o-linear-gradient(-45deg, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: -ms-linear-gradient(-45deg, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	background: linear-gradient(135deg, #3c3c3c 0%,#3c3c3c 50%,#eaeaea 50%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#333333',GradientType=1 );
}

<br />
min-height: 100vh;
font-size: calc(10px + 2vmin);
color: #61dafb;
background-color: #282c34;
background-color: #1e1e1e;
background-color: #252525;
background-color: #1C1C1C;
background-color: #f8f8f8;
background-color: #f7f7f7;
background-color: #f2f2f2;
background-color: #f8f8f8;
background-color: #3c3c3c;
background-color: #ecf0f1;

background-color: #76b900;
background-color: #eaeaea;
background-color: #4b4b4b;



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  text-align: center;
}

<a className="App-link" href="https://reactjs.org" target="_blank" rel="noopener noreferrer">Learn React</a>
<img src={logo} className="App-logo" alt="logo" />


*/







